body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url(./img/aaron-burden-yzgF-AQt1sQ-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  color: rgb(0, 0, 0);
  font-family: quantico, sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
}

.content {
  background: rgba(173, 226, 199, 0.589);
  border-radius: 5px;
  padding: 10px;
  border: solid 1px rgb(240, 161, 15);
  text-shadow: rgb(240, 161, 15) 1px 1px 4px;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: viga;
}
